export("%>%")
export(JS)
export(addRow)
export(dataTableAjax)
export(dataTableOutput)
export(dataTableProxy)
export(datatable)
export(formatCurrency)
export(formatDate)
export(formatPercentage)
export(formatRound)
export(formatSignif)
export(formatString)
export(formatStyle)
export(renderDataTable)
export(saveWidget)
export(selectCells)
export(selectColumns)
export(selectRows)
export(styleColorBar)
export(styleEqual)
export(styleInterval)
export(tableFooter)
export(tableHeader)
importFrom(htmltools,HTML)
importFrom(htmltools,htmlEscape)
importFrom(htmltools,tagList)
importFrom(htmltools,tags)
importFrom(htmlwidgets,JS)
importFrom(htmlwidgets,saveWidget)
importFrom(magrittr,"%>%")
