export("%>%")
export(JS)
export(appendCheckboxes)
export(checkboxRows)
export(copySWF)
export(dataTableAjax)
export(dataTableOutput)
export(datatable)
export(formatCurrency)
export(formatPercentage)
export(formatRound)
export(renderDataTable)
export(tableFooter)
export(tableHeader)
importFrom(htmltools,HTML)
importFrom(htmltools,htmlDependency)
importFrom(htmltools,htmlEscape)
importFrom(htmltools,tags)
importFrom(htmlwidgets,JS)
importFrom(magrittr,"%>%")
